@{
	ViewBag.Title = Model.Producer.Title;
}

<div class="content primary-colored text-colored">
	<div class="title-section-left">
		<div class="title uppercase">@Model.Producer.Title</div>
		<div class="title subtitle">@Model.Producer.Subtitle</div>
	</div>
	<div class="title-section-right">
		<!--<img class="producer-pic" src="~/pics/@(Model.Producer.Title).png" />-->
	</div>
</div>

<div class="content">
	<div class="container-holder">
		<div class="container-wrapper list">
			@{
				foreach (var beats in Model.Beats)
				{ 
				<div id="beat @beats.BeatId" class="beat-container" onclick="beatClicked('@beats.BeatId');">
					@beats.Title - @Model.Producer.Title	
				</div>
				}
			}
		</div>
		<div class="container-wrapper">
			<div class="player-container">
				<audio id="audio-player" controls loop controlsList="nodownload" oncontextmenu="return false;" typeof="audio/mp3"></audio>
				<div id="player-title">
					Select a beat
				</div>
				<div class="button-container">
					<a href="#" id="lease-button" class="beat-button primary-colored">
						<div class="button-text">
							Lease
						</div>
					</a>
					<a href="#" id="purchase-button" class="beat-button primary-colored">
						<div class="button-text">
							Purchase
						</div>
					</a>
				</div>
				<div class="button-text-container">
					<div id="beat-lease-price" class="button-lower-text">
						Lease Price:
					</div>
					<div id="beat-buy-price" class="button-lower-text">
						Buy Price:
					</div>
				</div>
				<hr />
				<div class="button-text-container">
					<div class="button-lower-text">
						Leasing:<br />
						- Producer will still own the instrumental<br />
						- Receive the mp3 file of this beat<br />
						- Must credit the producer (Prod tag)<br />
					</div>
					<div class="button-lower-text">
						Purchasing:<br />
						- Gain full rights to the beat<br />
						- Receive the mp3 file of this beat<br />
						- Must credit the producer (Prod tag)<br />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="content">
	Questions or concerns?  Email  @(Model.Producer.Title)@@BeatSurge.com
</div>

<script src="~/Scripts/beatPage.js"></script>
<script type="text/javascript">
		updateViewOnLoad('@Html.Raw(Json.Encode(Model))');
</script>