@{
	ViewBag.Title = "Index";
}

<div class="content primary-colored text-colored">
	<div class="title-section-left">
		<div class="title uppercase">@Model.Producer.Title</div>
		<div class="title subtitle">@Model.Producer.Subtitle</div>
	</div>
	<div class="title-section-right">
		<div class="title">HELLO</div>
	</div>
</div>

<div class="content">
	<div class="container-holder">
		<div class="container-wrapper list">
			@{
				foreach (var beats in Model.Beats)
				{ 
				<div class="beat-container secondary-colored" onclick="beatClicked('@beats.BeatId');">
					@beats.Title - @Model.Producer.Title	
				</div>
				}
			}
		</div>
		<div class="container-wrapper">
			<div class="player-container secondary-colored">
				<audio id="audio-player" controls="controls" typeof="audio/mp3"></audio>
				<div id="player-title">
					Click a beat
				</div>
				<div class="button-container">
					<div id="lease-button" class="beat-button primary-colored" onclick="purchaseClicked('1');">
						<div class="button-text">
							Lease
						</div>
					</div>
					<div id="purchase-button" class="beat-button primary-colored" onclick="beatClicked('1');">
						<div class="button-text">
							Purchase
						</div>
					</div>
				</div>
				<div class="button-text-container">
					<div id="beat-lease-price" class="button-lower-text">
						Lease Price:
					</div>
					<div id="beat-buy-price" class="button-lower-text">
						Buy Price:
					</div>
				</div>
				<hr />
				<div class="button-text-container">
					<div class="button-lower-text">
						Leasing:<br />
						- You get to use the beat<br />
						- You don't get to own the beat<br />
						- You're gay<br />
						- Just buy the beat homo<br />
					</div>
					<div class="button-lower-text">
						Purchasing:<br />
						- Full rights to the beat<br />
						- You own the beat<br />
						- Walk this beat to the bank<br />
						- Yuh<br />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="~/Scripts/beatPage.js"></script>
<script type="text/javascript">
		updateViewOnLoad('@Html.Raw(Json.Encode(Model))');
</script>