
@{
    ViewBag.Title = Model.Order + " " + Model.Beat.Title + " by " + Model.Producer.Title;
}

<div class="content primary-colored text-colored">
	<div class="title-section-left">
		<div class="title uppercase">@Model.Order beat</div>
	</div>
</div>

<div class="content">
	<form class="form-section" action="~/BuyBeat/SendTransaction" enctype="multipart/form-data" method="post">
		<fieldset class="fieldset-buy secondary-colored">
			<div class="buy-input-row">
				<label class="buy-label" for="Name">Full Name</label>
				<input class="buy-input" type="text" name="Name" value="" required="" />
			</div>
			<div class="buy-input-row">
				<label class="buy-label" for="Email">Email</label>
				<input class="buy-input" type="text" name="Email" value="" required="" />
			</div>
		</fieldset>
		<fieldset class="fieldset-buy secondary-colored">
			<div class="buy-input-row">
				<label class="buy-label" for="Card">Card Number</label>
				<input class="buy-input" type="text" name="Card" value="" required="" />
			</div>
			<div class="buy-input-row">
				<div class="buy-double-input">
					<label class="buy-label" for="Expiration">Expiration</label>
					<input class="buy-input" type="text" name="Expiration" value="" required="" />
				</div>
				<div class="buy-double-input">
					<label class="buy-label" for="CVC">CVC</label>
					<input class="buy-input" type="text" name="CVC" value="" required="" />
				</div>
			</div>
		</fieldset>
		<fieldset class="fieldset-buy secondary-colored">
			<div class="buy-input-row">
				<input class="buy-input button primary-colored text-colored" type="submit" value="Send Payment" />
			</div>
		</fieldset>
	</form>

	<div class="form-section">
		<div class="buy-info-box primary-colored text-colored">
			<div class="buy-info-section">
				<img class="buy-info-pic" src="~/pics/@(Model.Producer.Title).png" />
				<p class="buy-info">Beat: @Model.Beat.Title</p>
				<p class="buy-info">Producer: @Model.Producer.Title</p>
				<p class="buy-info">Order Method: @Model.Order</p>
				<p class="buy-info">
					Price: $@if (Model.Order.ToLower() == "buy")
					{
					@Model.Beat.BuyPrice
					}
					@if (Model.Order.ToLower() == "lease")
					{
					@Model.Beat.LeasePrice
					}
				</p>
			</div>
			<div class="buy-info-section">
				<p class="buy-info">We will email you the beat after the transaction is complete.</p>
			</div>
		</div>
	</div>

</div>

<script type="text/javascript" src="https://js.stripe.com/v3/"></script>
<script src="~/Scripts/buyPage.js"></script>
<script type="text/javascript">
		updateViewOnLoad('@Html.Raw(Json.Encode(Model))');
</script>