
@{
    ViewBag.Title = Model.Order + " " + Model.Beat.Title + " by " + Model.Producer.Title;
}

<div class="content primary-colored text-colored">
	<div class="title-section-left">
		<div class="title uppercase">@Model.Order beat</div>
	</div>
</div>

<div class="content">
	<form class="form-section" action="~/@Model.Producer.Title/@Model.Order/@Model.Beat.BeatId/SendTransaction" method="post" id="payment-form">
		<fieldset class="fieldset-buy secondary-colored">
			<div class="buy-input-row">
				<label class="buy-label" for="formItem-Name">Full Name</label>
				<input class="buy-input" type="text" id="formItem-Name" value="" required="" />
			</div>
			<div class="buy-input-row">
				<label class="buy-label" for="formItem-Email">Email</label>
				<input class="buy-input" type="text" id="formItem-Email" value="" required="" />
			</div>
		</fieldset>
		<fieldset class="fieldset-buy secondary-colored">
			<div class="buy-input-row">
				<label class="buy-label" for="formItem-cardNumber">Card Number</label>
				<div class="buy-input input" type="text" id="formItem-cardNumber" value="" required="" />
			</div>
			<div class="buy-input-row">
				<div class="buy-double-input">
					<label class="buy-label" for="formItem-cardExpiry">Expiration (MMYYYY)</label>
					<div class="buy-input input" type="text" id="formItem-cardExpiry" value="" required="" />
				</div>
				<div class="buy-double-input">
					<label class="buy-label" for="formItem-cardCvc">CVC</label>
					<div class="buy-input input" type="text" id="formItem-cardCvc" value="" required="" />
				</div>
			</div>
		</fieldset>
		<fieldset class="fieldset-buy secondary-colored">
			<div class="buy-input-row">
				<input class="buy-input button primary-colored text-colored" type="submit" value="Send Payment" />
			</div>
			<div id="card-errors" role="alert"></div>
		</fieldset>
	</form>

	<div class="form-section">
		<div class="buy-info-box primary-colored text-colored">
			<div class="buy-info-section">
				<img class="buy-info-pic" src="~/pics/@(Model.Producer.Title).png" />
				<p class="buy-info">Beat: @Model.Beat.Title</p>
				<p class="buy-info">Producer: @Model.Producer.Title</p>
				<p class="buy-info">Order Method: @Model.Order</p>
				<p class="buy-info">
					Price: $@if (Model.Order.ToLower() == "buy")
					{
					@Model.Beat.BuyPrice
					}
					@if (Model.Order.ToLower() == "lease")
					{
					@Model.Beat.LeasePrice
					}
				</p>
			</div>
			<div class="buy-info-section">
				<p class="buy-info">We will email you the beat after the transaction is complete.</p>
			</div>
		</div>
	</div>

</div>

<script type="text/javascript" src="https://js.stripe.com/v3/"></script>
<script src="~/Scripts/buyPage.js"></script>
<script type="text/javascript">
		updateViewOnLoad('@Html.Raw(Json.Encode(Model))');
</script>