@{
	ViewBag.Title = "Home";
}

<div class="home-page-section-title uppercase">
	Select a producer
</div>


<div class="content">
	@{
		foreach (var producer in Model.Producers)
		{
			<div class="producer-window-holder @producer.Title">
				<a href="/@producer.Title">
					<img class="producer-pic" src="~/pics/@(producer.Title).png" />
				</a>
				<div class="producer-section uppercase">
					@producer.Title
				</div>
			</div>
		}
	}

</div>

<div class="home-page-section-title uppercase">
	Beat Hold News
</div>

<div class="content">
	@{ 
		foreach (var news in Model.News)
		{
			<div class="news-container">
				<img class="news-pic" src="~/News/NewsPics/@(news.NewsId).png" />
				<div class="news-header title subtitle uppercase">
					@news.Title
				</div>
				<div class="news-text">
					@news.ArticleText
				</div>
			</div>
		}
	}
</div>

<script src="~/Scripts/homePage.js"></script>
<script type="text/javascript">
		updateViewOnLoad('@Html.Raw(Json.Encode(Model))');
</script>